.burger {
  display: none;
}

.header {
  background-image: url("../images/banner-bg.jpg");
  min-height: 444px;
}

.header__title {
  font-size: 45px;
  line-height: 3.2;
  padding-right: 240px;
  padding-left: 240px;
}

.header__logo {
  margin-left: 130px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding-left: 17px;
  padding-right: 17px;
  margin-right: auto;
  padding-top: 26px;
}

.menu {
  margin-right: 224px;
}

.menu__list {
  font-size: 13px;
  list-style-type: none;
  display: flex;
  margin-top: 18px;
  margin-bottom: 14px;
}

.menu__item {
  margin-left: 35px;
}

.menu__link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12.9px;
}

.trend__conteiner {
  flex-wrap: nowrap;
}

.information {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.post {
  margin-right: 0;
}

.post__section {
  width: 100%;
  display: flex;
}

.post__section::after {
  display: none;
}

.post__text {
  box-sizing: border-box;
  width: 380px;
}

.post__img {
  margin-bottom: 0;
  width: 381px;
  height: 100%;
  margin-right: 30px;
  width: 380px;
}

.post__info {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-top: 28px;
  margin-bottom: 46px;
}

.side-bar {
  width: 50%;
  margin-left: 122px;
}

.shop {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.shop__conteiner {
  flex-wrap: nowrap;
}

.product {
  margin-bottom: 400px;
}

.product__list {
  height: 300px;
  object-fit: cover;
}

.footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}