@font-face {
  font-family: 'Open Sans';
  src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

body {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  letter-spacing: 0;
  font-family: 'Open Sans', sans-serif;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}

.feedback {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: (0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-right: auto;
  margin-left: auto;
}

.feedback__content {
  position: relative;
  background: #ffffff;
  width: 384px;
  padding: 20px;
  box-sizing: border-box;
}

.feedback__close {
  position: absolute;
  color: #ffffff;
  font-size: 30px;
  right: 0;
  top: -35px;
}

.feedback__form-question {
  display: block;
  margin-bottom: 10px;
}

.feedback__form-row {
  margin-bottom: 32px;
}

.feedback__select {
  padding-left: 18px;
  width: 100%;
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
  background-image: url("/svg/form-arrows.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
}

.all__field-info {
  width: 100%;
  height: 48px;
  border: none;
  background-color: #f4f7f6;
  opacity: 0.541;
  font-size: 13px;
  color: #000000;
  box-sizing: border-box;
}

.all__field-info:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.feedback__field-radio {
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #b59f5b;
  border-radius: 50%;
  background-color: white;
}

.feedback__field-radio:checked {
  background-image: url("/svg/form-circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.feedback__field-info-big {
  height: 130px !important;
}

.feedback__button {
  width: 100%;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 50px;
  max-height: 450px;
  background-image: url("../images/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #000000;
  position: relative;
  z-index: 0;
  background-size: cover;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.header__menu {
  max-width: 23px;
  padding-left: 17px;
  padding-right: 17px;
  margin-left: auto;
  margin-right: 15px;
  padding-top: 26px;
}

.burger {
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  align-items: center;
}

.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #ffffff;
}

.burger::after {
  bottom: 0;
}

.menu__list {
  display: none;
}

.header__logo {

  padding-left: 17px;
  padding-right: 17px;
  margin-left: 28px;
  margin-right: 28px;
  padding-top: 170px;
}

.header__title {
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding-top: 44px;
  margin-right: 28px;
  margin-left: 28px;
  line-height: 1.63;
}

.trend {
  margin-top: 58px;
}

.underlined__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.underlined__title::after {
  content: '';
  display: block;
  height: 3px;
  background-color: #e1d9bd;
  margin: 10px auto 26px;
  width: 66px;
}

.ununderlined__title {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.7;
}

.trend__title {
  font-size: 20px;
}

.trend__conteiner {
  width: 100%;
}

.trend__block {
  width: 100%;
  padding: 0;
  position: relative;
  background-color: #000000;
  margin-bottom: 4px;
}

@media (orientation: landscape) {
  .trends__conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .trend__block {
    width: calc(50% - 4px);
    margin-bottom: 0px;
  }
}

.trend__img {
  width: 100%;
  display: block;
  object-fit: cover;
  opacity: 0.4;
}

.trend__info {
  position: absolute;
  bottom: 16px;
  left: 15px;
  right: 15px;
  border: 3px solid #b59f5b;
  padding-left: 32px;
  padding-right: 44px;
  padding-top: 38px;
  padding-bottom: 36px;
}

.summary__list {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 2px;
  gap: 20px;
  font-weight: 700;
}

.all__item-link {
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  color: #b7a769;
  font-size: 14px;
}

.trend__info-title {
  max-height: 100px;
  color: #ffffff;
  overflow: hidden;
}

.information {
  display: grid;
  margin-top: 15px;
  padding-top: 49px;
  margin-left: 14px;
  margin-right: 14px;
}

.post {
  margin-right: 34px;
}

.post__section {
  margin-bottom: 60px;
}

.post__section::after {
  content: '';
  display: block;
  height: 3px;
  background-color: #eeeeee;
  margin: 10px auto 26px;
  width: 100%;
}

.post__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 16px;
}

.post__title-link {
  color: #000000;
  text-decoration: none;
}

.post__info {
  text-transform: none;
  padding-left: 0;
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.post__info-date {
  margin-right: 15px;
  color: #888888;
}

.post__content {
  text-transform: none;
  font-size: 15px;
  line-height: 1.40;
}

.side-bar {
  margin-bottom: 42px;
  margin-left: 14px;
  margin-right: 14px;
}

.latest-post {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.latest-post__list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.latest-post__img {
  width: 70px;
  height: 70px;
  margin-right: 19px;
  padding: 1px;
}

.latest-post__info {
  padding-left: 0;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.latest-post__info-date {
  opacity: 0.541;
  font-size: 12.5px;
  color: #000000;
}

.latest-post__info-title {
  text-transform: uppercase;
  font-size: 13.99px;
  line-height: 1.28;
  margin: 0px;
}

.latest-post__info-link {
  text-decoration: none;
  color: #000000;
}

.search__form {
  display: flex;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.search__field {
  flex-grow: 1;
}

.search__button {
  background-image: url("../svg/search.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  flex-grow: 0;
  flex-shrink: 0;
}

.search__button-name {
  display: none;
  background-color: #323232;
}

.subscribe__field-info {
  font-size: 100%;
  object-fit: cover;
  margin-bottom: 18px;
}

input::placeholder {
  padding-left: 18px;
  padding-top: 18px;
  color: #000000;
}

.subscribe__field-name {
  display: none;
  background-color: #323232;
}

.all__button {
  height: 48px;
  background-color: #b59f5b;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  position: flex;
  box-sizing: border-box;
}

.subscribe__button {
  width: 100%;
}

.tag {
  margin-top: 58px;
}

.tag-group {
  width: 100%;
}

.tag__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.tag__item {
  font-size: 12px;
  text-transform: uppercase;
  background-color: rgba(244, 243, 241, 0);
  border: 2px solid #eeeeee;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 4px;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 700;

}

.tag__item-link {
  text-decoration: none;
  color: #0f0d0e;
}

.category {
  margin-top: 60px;
}

.category__group {
  width: 100%;
  display: block;
  align-items: flex-start;
}

.category__list {
  list-style-type: none;
  font-size: 14px;
  padding: 0;
  font-weight: 700;
}

.category__item {
  width: 100%;
  border-bottom: 1px solid #e1d9bd;
  margin-top: 16px;
  padding-bottom: 12px;
}

.category__item-link {
  text-decoration: none;
  color: #000000;
}

.category__item-num {
  font-size: 12px;
  color: #b59f5b;
  vertical-align: top;
}

.shop {
  margin-right: 15px;
  margin-left: 15px;
}

.product {
  position: relative;
  width: 100%;
  margin-bottom: 300px;
}

.product__img {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}

.product__list {
  width: 100%;
  max-height: 350px;
  border: 3px solid #b59f5b;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 52px;
  padding-bottom: 26px;
  top: 90%;
  right: 0;
  left: 0;
  box-sizing: border-box;
}

.product__description {
  max-height: 100px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  overflow: hidden;
}

.product__description-link {
  text-decoration: none;
  list-style-type: none;
  color: #b7a769;
}

.product__price {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  align-items: flex-end;
}

.product__price-sale {
  display: grid;
}

.product__price-old {
  text-decoration: line-through;
  font-size: 14px;
}

.product__price-new {
  text-decoration: none;
  font-size: 20px;
}

.product__price-button {
  padding-left: 30px;
  padding-right: 30px;
}

.footer {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.social {
  width: 100%;
  background-color: #f4f7f6;
}

.social__list {
  list-style-type: none;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  gap: 30px;
}

.social__item {
  margin-right: -20px;
  padding-top: 31px;
  padding-bottom: 32px;
}

.social__link {
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0;
  clip-path: rect(0 0 0 0);
  overflow: hidden;
}

.footer__icon {
  display: block;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.social__icon-dribble {
  display: block;
  background-image: url("../svg/001-dribbble.svg");
}

.social__icon-pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.social__icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright__title {
  font-size: 12px;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
}

.copyright__link {
  text-decoration: none;
  color: #999999;
}